.custom-tr {
    font-size: 12px; 
}

.custom-td {
    font-size: 12px; 
}

.custom-button {
    font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
    margin-top: 70px; /* Ajusta este valor según sea necesario */
  }

  .custom-h5 {
    font-size: 15px; 
    text-align: center; 
}

  .container {
    background-color: rgba(255, 255, 255, 0.1);
    height: 80vh;
  }


  