.custom-tr {
    font-size: 12px; 
}

.custom-td {
    font-size: 12px; 
}

.custom-button {
    font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
    margin-top: 70px; /* Ajusta este valor según sea necesario */
  }