body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Altura mínima del cuerpo */
  margin: 0; /* Elimina márgenes */
}

.container {
  flex: 1; /* Ocupa todo el espacio disponible entre el header y el footer */
  background-color: black;
  overflow-y: auto; /* Agrega scroll si es necesario */
}

#footer {
  color: white;
  padding: 10px 0;
  text-align: center;
  width: 100%;
  border-top: 1px solid black;
  background-color: black;
}
