
<div class="watermark"></div>
<div class="container menu-container">
    <div class="border rounded p-3">
    <p class="text-center" style="font-size: 18px;">Selecciona que deseas hacer:</p>
    <div class="text-center">
        <button class="btn btn-primary mx-2" (click)="redirectToResultado()"><i class="fa-solid fa-stopwatch"></i> Carga de resultados</button>

        <button class="btn btn-primary mx-2" (click)="redirectToOrganizadores()"> <i class="fa-solid fa-user"></i> Carga de organizadores</button>

        <button class="btn btn-success mx-2" (click)=" redirectToListaOrganizadores()"> <i class="fa-solid fa-person-running"></i> Carga de carrera</button>
        
        <button class="btn btn-primary mx-2" (click)="redirectToListaCarreras()"> <i class="fa-solid fa-flag-checkered"></i> Ver Lista de eventos</button>
        
    
    </div>
    </div>
</div>


