<form class="container mt-2 d-flex justify-content-center fixed-form" (ngSubmit)="onSubmit(organizadorForm)" #organizadorForm="ngForm">
    <div class="card" style="max-width: 600px; width: 100%;">
        <div class="card-header">
            <h5 class="custom-h5">Crear Organizador</h5>
        </div>
        <div class="card-body">
              <!-- Primera fila de inputs -->
        <div class="row">
            
            <div class="col-md-4 form-group">
                 <input type="email"
                 class="form-control my-2"  
                 id="username" 
                 placeholder="Email" 
                 name="username" 
                 [(ngModel)]="organizador.username"
                 #username="ngModel"
                 required
                 style="font-size: 12px;">
                 <div *ngIf="username.invalid && (username.dirty || username.touched)" class="text alert-danger">
                    <div *ngIf="username.errors!['required']"> 
                        El nombre es requerido</div>
                </div>
            </div>
        
            <div class="col-md-4 form-group">            
                <input type="text" 
                class="form-control my-2" 
                id="apellido" 
                placeholder="Apellido" 
                name="apellido" 
                [(ngModel)]="organizador.apellido"
                #apellido="ngModel"
                required
                style="font-size: 12px;">
                <div *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)" class="text alert-danger">
                    <div *ngIf="apellido.errors!['required']"> 
                        El apellido es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">               
                <input type="text" 
                class="form-control my-2" 
                id="dni" 
                placeholder="dni" 
                name="dni" 
                [(ngModel)]="organizador.dni"
                #dni="ngModel"
                required
                style="font-size: 12px;">
                <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="text alert-info">
                    <div *ngIf="dni.errors!['required']"> 
                        El dni es requerido
                    </div>
                </div>
            </div>
        </div>
         <!-- Segunda fila de inputs -->
         <div class="row">
        <div class="col-md-4 form-group">           
                <input type="text" 
                class="form-control my-2" 
                id="nombre" 
                placeholder="Nombre" 
                name="nombre" 
                [(ngModel)]="organizador.nombre"
                #nombre="ngModel"
                required
                style="font-size: 12px;">
                <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text alert-danger">
                    <div *ngIf="nombre.errors!['required']"> 
                        El nombre es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <input type="text" 
                class="form-control my-2" 
                id="telefono" 
                placeholder="Telefono" 
                name="telefono" 
                [(ngModel)]="organizador.telefono"
                #telefono="ngModel" 
                required
                style="font-size: 12px;">
                <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="text alert-danger">
                    <div> 
                        El telefono es requerido
                    </div>
                </div>
            </div>
            <div class="col-md-4 form-group">
                <input type="text" 
                class="form-control my-2" 
                id="password" 
                placeholder="password" 
                name="password" 
                [(ngModel)]="organizador.password"
                #password="ngModel" 
                required
                style="font-size: 12px;">                
                <div *ngIf="password.invalid && (password.dirty || password.touched)" class="text alert-danger">
                    <div> 
                        El password es requerido
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center">
            <div class="form-group">
                <button [disabled]="!organizadorForm.form.valid" type="submit" class="btn btn-primary my-2 mx-3" style="font-size: 12px;">{{organizador.id > 0 ? 'editar' : 'crear'}}</button>
                <button type="button" class="btn btn-success my-2 mx-3" (click)="clean()" style="font-size: 12px;">Limpiar</button>
            </div>
        </div>
    </div>
        
    </div>
</form>
