.custom-tr {
    font-size: 12px; 
}

.custom-td {
    font-size: 12px; 
}

.custom-button {
    font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
    margin-top: 50px; /* Ajusta este valor según sea necesario */
  }

  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    background-color: rgba(255, 255, 255, 0.1);
  }


  
  