.navbar-nav {
    margin: 0 auto;
  }

  .custom-navbar {
    background-color: #333; 
    margin-bottom: 20px;
  }
  
  .navbar-nav .nav-link {
    color: white !important;
  }
  
  
  .navbar-toggler-icon {
    filter: invert(1);
  }
  
  .nav-link:hover {
    color: #ddd !important;
  }
  
  button.nav-link {
    color: white !important;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  button.nav-link:hover {
    color: #ddd !important;
  }

  .custom-navbar .nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
  }
  
  