.custom-tr {
    font-size: 14px; 
}

.custom-td {
    font-size: 14px; 
}

.custom-button {
    font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
    margin-top: 70px; /* Ajusta este valor según sea necesario */
  
  }

  .container {
    background-color: rgba(255, 255, 255, 0.1);
    height: 85vh;
  }

  .table {
    max-height: calc(100vh - 200px); /* Ajusta según el espacio reservado para header y footer */
    overflow-y: auto; /* Habilita scroll vertical si el contenido es demasiado grande */
}
