.custom-h5 {
    font-size: 18px;
    text-align: center; /* Para centrar el texto horizontalmente */
 
}

.content-container {
    margin-top: 300px; /* Ajusta el valor según tus necesidades */
    
}