.custom-tr {
  font-size: 14px; 
}

.custom-td {
  font-size: 14px; 
}

.custom-button {
  font-size: 12px; /* Ajusta este valor según tus necesidades */
}

.separated-content {
  margin-top: 30px; /* Ajusta este valor según sea necesario */
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.1);
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  margin-top: 60px;
}

.margin-top {
  margin-top: 100px; 
}

.custom-h5 {
  font-size: 16px; 
  text-align: center; 
}

.custom-button {
  font-size: 12px; 
}

.custom-input {
  font-size: 14px; 
}

.custom-label {
  font-size: 14px; 
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: grey;
}

.input-error {
  border: 1px solid red !important;
  background-color: #ffe6e6;
}

.alert-danger {
  color: red;
  font-size: 0.9em;
  margin-top: 0.5em;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #f8d7da;
}

.custom-h5 {
  font-size: 20px;
  text-align: center; /* Para centrar el texto horizontalmente */
  color: rgb(248, 248, 248);
  text-transform: uppercase; /* Convierte el texto a mayúsculas */
  font-family: 'Roboto', sans-serif; /* Cambia la fuente si lo deseas */
}

.card-header {
  background-color: #3b505e;
  color: white;
  padding: 3rem;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 1600px; /* Aumenta el tamaño del card */
  margin: 0 auto; /* Centra horizontalmente si es necesario */
}

.card-custom {
  width: 85%; /* Más ancho que el predeterminado */
  max-width: 1800px; /* Limita el ancho máximo */
  margin: 0 auto; /* Centra el formulario */
  background-color: #f0e6e6;
}

.card {
  margin-top: 20px; /* Ajusta este valor según la distancia que desees */
  padding: 15px; /* Opcional: ajusta el espaciado interno del card */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Mantén o ajusta la sombra */
  border-radius: 8px; /* Mantén o ajusta los bordes redondeados */
  background-color: white; /* Color de fondo */
}

