/* Estilos globales o de la página que contiene el componente */
body {
    
    font-family: 'Roboto', sans-serif; /* Ajusta la fuente según tu diseño */
    
  }
  
  /* Estilos específicos para el componente de listado de corredores */
  .custom-h5 {
    color: #333;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .custom-tr,
  .custom-td {
    font-size: 12px; /* Ajusta el tamaño de la fuente según sea necesario */
    text-align: center; /* Centra el contenido horizontalmente */
    vertical-align: middle; /* Centra el contenido verticalmente */

  }
  
  .custom-button {
    font-size: 10px; /* Ajusta este valor según tus necesidades */
  }
  
  .content-container {
    margin-top: 90px; /* Ajusta el valor según tus necesidades */
    margin-bottom: 300px; 
    width: 100%; /* Ocupará todo el ancho disponible */
    max-width: 1200px;
}

.table-button {
  font-size: 12px; /* Tamaño de fuente consistente */
  width: 100px; /* Ancho uniforme para todos los botones */
  height: 30px; /* Altura uniforme para todos los botones */
  text-align: center; /* Centrar texto dentro del botón */
  padding: 5px; /* Espaciado interno */
  margin: 2px; /* Espaciado externo entre botones */
  white-space: nowrap; /* Evita que el texto se corte en varias líneas */
}

/* En tu archivo CSS global */
.swal-custom-popup {
  width: 800px !important;
  max-width: 90%; /* Limita el tamaño máximo al 90% del ancho de la pantalla */
  height: auto; /* Ajusta automáticamente el alto */
  padding: 20px; /* Espaciado interno */
  border-radius: 15px; /* Bordes redondeados */
  font-size: 14px; /* Tamaño del texto */
  background-color: #f9f9f9; /* Color de fondo personalizado */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra para mejor visibilidad */
}

.swal-custom-title {
  font-size: 10px; /* Ajusta el tamaño del texto */
  font-weight: bold; /* Si necesitas el texto en negrita */
  color: #333; /* Color del texto */
  margin-bottom: 20px; /* Separación del contenido debajo del título */
  text-align: center; /* Centrar el título */
}

.content-container {
  margin-top: 90px;
  margin-bottom: 300px;
  width: 100%;
  max-width: 100%; /* Permite ocupar todo el ancho disponible */
  padding: 0 15px; /* Espaciado interno para evitar que el contenido toque los bordes */
}

.sticky-header th {
  position: sticky;
  top: 0;
  background-color: #fff; /* O el color que se adapte a tu diseño */
  z-index: 2; /* Para asegurarse de que se mantenga por encima del contenido */
}

  