



  
  <div class="container my-6 content-container">
   
<div class="container my-4 d-flex justify-content-center">
  <div class="watermark"></div>
  <div class="row">
  
    <div class="border rounded p-3 content-background">
        <h5 class="custom-h5">Listado de corredores</h5>
        <div class="col-md-6 form-group">
          <label for="carreraSelect">Seleccione una carrera para continuar:</label>
          <select id="carreraSelect" class="form-control" [(ngModel)]="selectedCarreraId" (change)="onCarreraSelect()">
            <option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</option>
          </select>
        </div>
        
        
        <div class="col-md-4 form-group">
          <input type="text" class="form-control my-2 custom-tr" placeholder="Buscar por DNI" [(ngModel)]="dniBusqueda" (input)="buscarPorDNI()" style="width: 120px; font-size: 12px;">
        </div>
        <button class="btn btn-primary my-2" (click)="exportToExcel()">Exportar a Excel</button>
        <div *ngIf="corredoresFiltrados.length > 0; else noData">
          <div style="max-height: 600px; overflow-y: auto;">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th class="custom-tr">Nombre</th>
                  <th class="custom-tr">Apellido</th>
                  <th class="custom-tr">Dni</th>
                  <th class="custom-tr">Nacimiento</th>
                  <th class="custom-tr">Genero</th>
                  <th class="custom-tr">Nacionalidad</th>
                  <th class="custom-tr">Provincia</th>
                  <th class="custom-tr">Localidad</th>
                  <th class="custom-tr">Talle</th>
                  <th class="custom-tr">Telefono</th>
                  <th class="custom-tr">team</th>
                  <th class="custom-tr">GS</th>
                  <th class="custom-tr">Carrera</th>
                  <th class="custom-tr">Distancia</th>
                  <th class="custom-tr">Confirmado</th>
                  <th class="custom-tr">Descuento</th>
                  <th class="custom-tr">Categoria</th>

                  <th class="custom-tr"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let corredor of corredoresFiltrados; trackBy: trackByFn">
                  <td class="custom-td">{{ corredor.nombre }}</td>
                  <td class="custom-td">{{ corredor.apellido }}</td>
                  <td class="custom-td">{{ corredor.dni }}</td>
                  <td class="custom-td">{{ corredor.fechaNacimiento | date: 'dd/MM/yyyy' }}</td>
                  <td class="custom-td">{{ corredor.genero }}</td>
                  <td class="custom-td">{{ corredor.nacionalidad }}</td>
                  <td class="custom-td">{{ corredor.provincia }}</td>
                  <td class="custom-td">{{ corredor.localidad }}</td>
                  <td class="custom-td">{{ corredor.talle }}</td>
                  <td class="custom-td">{{ corredor.telefono }}</td>
                  <td class="custom-td">{{ corredor.team }}</td>
                  <td class="custom-td">{{ corredor.grupoSanguinio }}</td>
                  <td class="custom-td">{{ corredor.carrera.nombre }}</td>
                  <td class="custom-td">{{ corredor.distancia.tipo }}</td>
                  <td class="custom-td">{{ corredor.confirmado ? 'Sí' : 'No' }}</td>
                  <td class="custom-td">{{ corredor.codigoDescuento }}</td>
                  <td class="custom-td">{{ corredor.categoria }}</td>

                  <td class="custom-td">
                    <td class="custom-td">
                      <button
                          class="btn btn-warning table-button"
                          (click)="editarDni(corredor)"
                      >
                          Editar DNI
                      </button>
                      <button
                          class="btn btn-primary table-button"
                          (click)="editarCorredor(corredor)"
                      >
                          Editar Datos
                      </button>
                      <button
                          class="btn table-button"
                          [ngClass]="corredor.confirmado ? 'btn-danger' : 'btn-success'"
                          (click)="toggleConfirmado(corredor)"
                      >
                          {{ corredor.confirmado ? 'Desconfirmar' : 'Confirmar' }}
                      </button>
                      <button
                          class="btn btn-danger table-button"
                          (click)="eliminarCorredor(corredor.id)"
                      >
                          Eliminar
                      </button>
                  </td>
                  
                
                
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <ng-template #noData>
          <div class="alert alert-info">No hay corredores inscriptos para mostrar</div>
        </ng-template>
      </div>
    </div>
  </div>
</div>

