<body>
  <div class="main-container">
    <div class="text-container">
      <h2>Sobre nosotros</h2>
      <div class="gallery-container">
        <div class="gallery">
          <img src="assets/img/nos1.jpg" alt="Descripción de la imagen 1">
          <img src="assets/img/nos2.jpg" alt="Descripción de la imagen 2">
          <img src="assets/img/nos3.jpg" alt="Descripción de la imagen 3">
          <img src="assets/img/nos4.jpg" alt="Descripción de la imagen 4">    
          <img src="assets/img/nos6.jpg" alt="Descripción de la imagen 6">
          <img src="assets/img/nos7.jpg" alt="Descripción de la imagen 7">
          <img src="assets/img/nos14.jpg" alt="Descripción de la imagen 14">
          <img src="assets/img/nos8.jpg" alt="Descripción de la imagen 8">
          <img src="assets/img/nos15.jpg" alt="Descripción de la imagen 15">
          <img src="assets/img/nos10.jpg" alt="Descripción de la imagen 10">
          <img src="assets/img/nos11.jpg" alt="Descripción de la imagen 11">
          <img src="assets/img/nos12.jpg" alt="Descripción de la imagen 12">
          <img src="assets/img/nos13.jpg" alt="Descripción de la imagen 13">
          <img src="assets/img/nos16.jpg" alt="Descripción de la imagen 16">
          <img src="assets/img/nos17.jpg" alt="Descripción de la imagen 17">
        </div>
      </div>
      <p>
        MaXtime es una empresa familiar de corredores apasionados por diversas disciplinas deportivas. Fundada en agosto de 2018, somos una empresa joven y versátil con un fuerte impulso para la excelencia. Ofrecemos servicios de cronometraje mediante sistemas de chips para eventos deportivos, siendo pioneros en la provincia de Misiones. Prestamos nuestros servicios en todas las localidades de la provincia y estamos disponibles para eventos en cualquier lugar que requiera de nuestra experiencia.
      </p>
      <p>
        Con muchos años de experiencia como corredores, hemos vivido cada etapa de la competencia desde dentro. Esta perspectiva nos permite ofrecer un servicio integral, diseñado pensando en las necesidades de los participantes. Combinamos nuestra experiencia con lo último en tecnología de cronometraje, lo que nos capacita para cubrir una amplia variedad de eventos, desde carreras de trail, pruebas combinadas (duatlón, triatlón), ciclismo, carreras de atletismo e incluso carreras de motos.
      </p>
      <p>
        En MaXtime, entendemos que cada segundo cuenta y nos dedicamos a ofrecer precisión y fiabilidad en cada evento.
      </p>
    </div>
  </div>
</body>
