<form class="container mt-2 d-flex justify-content-center" (ngSubmit)="onSubmit(distanciaForm)" #distanciaForm="ngForm">
    <div class="card card-custom">
        <div class="card-header">
            <h5 class="custom-h5">Crear link de inscripción al evento</h5>
        </div>
     
        <div class="card-body">
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="tipo" class="custom-label">Detalle de la inscripción</label>
                    <input type="text"
                        class="form-control my-2 custom-input"
                        id="tipo"
                        placeholder=""
                        name="tipo"
                        [(ngModel)]="distancia.tipo"
                        #tipo="ngModel"
                        required>
                    <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="text alert-danger">
                        <div *ngIf="tipo.errors?.['required']">
                            El nombre de la carrera es requerido
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="valor" class="custom-label">Valor de la inscripción en $</label>
                    <input type="number"
                        class="form-control my-2 custom-input"
                        id="valor"
                        name="valor"
                        [(ngModel)]="distancia.valor"
                        #valor="ngModel"
                        required>
                    <div *ngIf="valor.invalid && (valor.dirty || valor.touched)" class="text alert-danger">
                        <div *ngIf="valor.errors?.['required']">
                            El valor de la inscripción es requerido
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="row">
                <div class="form-group col-md-6">
                    <label for="metodoPago" class="custom-label">Método de Pago</label>
                    <select class="form-control my-2 custom-input custom-select"
                        id="metodoPago"
                        name="metodoPago"
                        [(ngModel)]="distancia.metodoPago"
                        (change)="updateLabel(distancia.metodoPago)"
                        #metodoPago="ngModel"
                        required>
                        <option class="custom-option" value="" disabled selected>Seleccione un método de pago</option>
                        <option class="custom-option" value="MercadoPago">MercadoPago</option>
                        <option class="custom-option" value="Transferencia Bancaria">Transferencia Bancaria</option>
                        <option class="custom-option" value="Efectivo">Efectivo</option>
                    </select>
                    <div *ngIf="metodoPago.invalid && (metodoPago.dirty || metodoPago.touched)" class="text alert-info">
                        <div *ngIf="metodoPago.errors?.['required']">
                            El método de pago es requerido
                        </div>
                    </div>
                </div>

                <div class="form-group col-md-6">
                    <label for="linkDePago" class="custom-label">{{ linkDePagoLabel }}</label>
                    <input type="text"
                        class="form-control my-2 custom-input"
                        id="linkDePago"
                        name="linkDePago"
                        [(ngModel)]="distancia.linkDePago"
                        #linkDePago="ngModel"
                        required>
                    <div *ngIf="linkDePago.invalid && (linkDePago.dirty || linkDePago.touched)" class="text alert-info">
                        <div *ngIf="linkDePago.errors?.['required']">
                            {{ linkDePagoLabel }} es requerido
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <button [disabled]="!distanciaForm.form.valid" type="submit" class="btn btn-primary my-2 mx-3">
                    {{ distancia.id > 0 ? 'editar' : 'crear' }}
                </button>
                <button type="button" class="btn btn-success my-2 mx-3" (click)="clean()">Limpiar</button>
            </div>
        </div>
    </div>
</form>
