<form class="container mt-2 d-flex justify-content-center" (ngSubmit)="onSubmit(distanciaForm)" #distanciaForm="ngForm">
  <div class="card card-custom mt-3">
    <div class="card-header">
      <h5 class="custom-h5">Crear link de inscripción al evento</h5>
    </div>

    <div class="border rounded p-3 content-background">
      <div class="row">
        <div class="form-group col-md-6">
          <label for="tipo" class="custom-label">Detalle de la inscripción</label>
          <input
            type="text"
            class="form-control my-2 custom-input"
            id="tipo"
            placeholder=""
            name="tipo"
            [(ngModel)]="distancia.tipo"
            #tipo="ngModel"
            required
          />
          <div *ngIf="tipo.invalid && (tipo.dirty || tipo.touched)" class="text alert-danger">
            <div *ngIf="tipo.errors?.['required']"> El nombre de la carrera es requerido </div>
          </div>
        </div>

        <div class="form-group col-md-6">
          <label for="valor" class="custom-label">Valor de la inscripción en $</label>
          <input
            type="number"
            class="form-control my-2 custom-input"
            id="valor"
            name="valor"
            [(ngModel)]="distancia.valor"
            #valor="ngModel"
            required
          />
          <div *ngIf="valor.invalid && (valor.dirty || valor.touched)" class="text alert-danger">
            <div *ngIf="valor.errors?.['required']"> El valor de la inscripción es requerido </div>
          </div>
        </div>
      </div>

      <!-- Show the methods of payment section only if there are methods added -->
 <!-- Mostrar métodos de pago si existen -->
 <ng-container *ngIf="distancia.pagos.length > 0">
  <div class="row" *ngFor="let metodo of distancia.pagos; let i = index">
    <div class="form-group col-md-6">
      <label for="metodoPago{{i}}" class="custom-label">Método de Pago {{ i + 1 }}</label>
      <select class="form-control my-2 custom-input custom-select"
              id="metodoPago{{i}}"
              name="metodoPago{{i}}"
              [(ngModel)]="distancia.pagos[i].metodoPago"
              (change)="updateLabel(distancia.pagos[i].metodoPago, i)"
              #metodoPago="ngModel"
              required>
        <option class="custom-option" value="" disabled selected>Seleccione un método de pago</option>
        <option class="custom-option" value="MercadoPago">MercadoPago</option>
        <option class="custom-option" value="Transferencia Bancaria">Transferencia Bancaria</option>
        <option class="custom-option" value="Efectivo">Efectivo</option>
      </select>
      <div *ngIf="metodoPago.invalid && (metodoPago.dirty || metodoPago.touched)" class="text alert-info">
        <div *ngIf="metodoPago.errors?.['required']">
          El método de pago es requerido
        </div>
      </div>
    </div>

    <div class="form-group col-md-6">
      <label for="linkDePago{{i}}" class="custom-label">{{ linkDePagoLabels[i] }}</label>
      <input type="text"
             class="form-control my-2 custom-input"
             id="linkDePago{{i}}"
             name="linkDePago{{i}}"
             [(ngModel)]="distancia.pagos[i].linkDePago"
             #linkDePago="ngModel"
             required>
      <div *ngIf="linkDePago.invalid && (linkDePago.dirty || linkDePago.touched)" class="text alert-info">
        <div *ngIf="linkDePago.errors?.['required']">
          {{ linkDePagoLabels[i] }} es requerido
        </div>
      </div>
    </div>

    <div class="form-group col-md-12 d-flex justify-content-end">
      <button
        type="button"
        class="btn btn-danger my-2 mx-3"
        (click)="removeMetodoPago(i)"
        [disabled]="distancia.pagos.length === 0"
      >
        Eliminar Método de Pago
      </button>
    </div>
  </div>
</ng-container>

      <div class="form-group">
        <button
          type="button"
          class="btn btn-primary my-2 mx-3"
          (click)="addMetodoPago()"
          [disabled]="distancia.pagos.length >= 3"
        >
          Agregar Método de Pago
        </button>
      </div>

      

      <div class="form-group">
        <button [disabled]="!distanciaForm.form.valid" type="submit" class="btn btn-primary my-2 mx-3">
          {{ distancia.id > 0 ? 'editar' : 'crear' }}
        </button>
      </div>
    </div>
  </div>
</form>
