<div class="container my-4 d-flex justify-content-center">
   
    <div class="separated-content">

    <div class="col">
        <app-form-carrera (newCarreraEvent)="addCarrera($event)" [carrera]="carreraSelected"></app-form-carrera>
    </div>
    <div class="col mt-5">
        <div class="border rounded p-3">
            <h2 class="text-center" style="font-size: 18px;">Listado de carreas</h2>

            
            @if (carreras.length > 0) {
            <div style="max-height: 400px; overflow-y: auto;">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th class="custom-tr">Nombre</th>
                            <th class="custom-tr">Fecha</th>
                            <th class="custom-tr">Cierre</th>                                                   
                            <th class="custom-tr">Localidad</th>
                            <th class="custom-tr">Provincia</th>
                            <th class="custom-tr">detalles</th>
                            <th class="custom-tr">contacto</th>
                            <th class="custom-tr">horario</th>
                            <th class="custom-tr">estado</th>
                            <th class="custom-tr">distancia</th>
                            <th class="custom-tr">editar</th>
                            <th class="custom-tr">eliminar</th>
                     
                    
                        </tr>
                    </thead>
                    <tbody>
                        @for (carrera of carreras; track $index)
                        {
                        <tr>
                            <td class="custom-td">{{carrera.nombre}}</td>
                            <td class="custom-td">{{carrera.fecha}}</td>
                            <td class="custom-td">{{carrera.fechaDeCierreDeInscripcion}}</td>                           
                            <td class="custom-td">{{carrera.localidad}}</td>
                            <td class="custom-td">{{carrera.provincia}}</td>
                            <td class="custom-td">{{carrera.pais}}</td>
                            <td class="custom-td">{{carrera.contacto}}</td>
                            <td class="custom-td">{{carrera.horario}}</td>
                            <td class="custom-td">{{carrera.estado}}</td>

                          
                            <td class="custom-td"><button (click)="asignarDistancia( carrera.id, organizadorId)" class="btn btn-sm btn-success custom-button">Asignar</button></td>
                            <td><button (click)="onUpdateCarrera(carrera)" class="btn btn-sm btn-secondary custom-button">Editar</button></td>
                            <td><button (click)="onRemoveCarrera(carrera.id)" class="btn btn-sm btn-danger custom-button">Eliminar</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            } @else {
            <div class="alert alert-info">Lo sentimos, no hay información para mostrar</div>
            }

        </div>
    </div>
</div>
