<form class="container-fluid mt-4"  (ngSubmit)="onSubmit(carreraForm)" #carreraForm="ngForm">
    <div class="card card-custom">
      <div class="card-header">
        <h5 class="custom-h5">Crear carrera</h5>
      </div>
      <div class="card-body">
        <!-- Primera fila de inputs -->
        <div class="row">
          <div class="col-md-3 form-group">
            <label class="custom-label" for="nombre">Nombre</label>
            <input type="text" class="form-control my-2 custom-input" id="nombre" name="nombre" [(ngModel)]="carrera.nombre" #nombre="ngModel" required style="font-size: 12px;">
            <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="text alert-danger" style="font-size: 12px;">
              <div *ngIf="nombre.errors!['required']">El nombre de la carrera es requerido</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="fecha">Fecha</label>
            <input type="date" class="form-control my-2 custom-input" id="fecha" name="fecha" [(ngModel)]="carrera.fecha" #fecha="ngModel" required style="font-size: 12px;">
            <div *ngIf="fecha.invalid && (fecha.dirty || fecha.touched)" class="text alert-danger"style="font-size: 12px;">
              <div *ngIf="fecha.errors!['required']">La fecha de la carrera es requerida</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="cierre">Cierre</label>
            <input type="date" class="form-control my-2 custom-input" id="fechaDeCierreDeInscripcion" name="fechaDeCierreDeInscripcion" [(ngModel)]="carrera.fechaDeCierreDeInscripcion" #fechaDeCierreDeInscripcion="ngModel" required style="font-size: 12px;">
            <div *ngIf="fechaDeCierreDeInscripcion.invalid && (fechaDeCierreDeInscripcion.dirty || fechaDeCierreDeInscripcion.touched)" class="text alert-danger" style="font-size: 12px;">
              <div *ngIf="fechaDeCierreDeInscripcion.errors!['required']">La fecha de cierre de inscripción es requerida</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="localidad">Localidad</label>
            <input type="text" class="form-control my-2 custom-input" id="localidad" name="localidad" [(ngModel)]="carrera.localidad" #localidad="ngModel" required style="font-size: 12px;">
            <div *ngIf="localidad.invalid && (localidad.dirty || localidad.touched)" class="text alert-danger" style="font-size: 12px;">
              <div *ngIf="localidad.errors!['required']">La localidad de la carrera es requerida</div>
            </div>
          </div>
        </div>
        <!-- Segunda fila de inputs -->
        <div class="row">
 
          <div class="col-md-3 form-group">
            <label class="custom-label" for="provincia">Provincia</label>
            <input type="text" class="form-control my-2 custom-input" id="provincia" name="provincia" [(ngModel)]="carrera.provincia" #provincia="ngModel" required style="font-size: 12px;">
            <div *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>La provincia de la carrera es requerida</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="pais">País</label>
            <input type="text" class="form-control my-2 custom-input" id="pais" name="pais" [(ngModel)]="carrera.pais" #pais="ngModel" required style="font-size: 12px;">
            <div *ngIf="pais.invalid && (pais.dirty || pais.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>El país de la carrera es requerido</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="detalles">Detalles</label>
            <input type="text" class="form-control my-2 custom-input" id="detalles" name="detalles" [(ngModel)]="carrera.detalles" #detalles="ngModel" required style="font-size: 12px;">
            <div *ngIf="detalles.invalid && (detalles.dirty || detalles.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>Los detalles de la carrera son requeridos</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="contacto">Contacto</label>
            <input type="text" class="form-control my-2 custom-input" id="contacto" name="contacto" [(ngModel)]="carrera.contacto" #contacto="ngModel" required style="font-size: 12px;">
            <div *ngIf="contacto.invalid && (contacto.dirty || contacto.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>El contacto de la carrera es requerido</div>
            </div>
          </div>
        </div>
        <!-- Tercera fila de inputs -->
        <div class="row">
        
          <div class="col-md-3 form-group">
            <label class="custom-label" for="horario">Horario</label>
            <input type="time" class="form-control my-2 custom-input" id="horario" name="horario" [(ngModel)]="carrera.horario" #horario="ngModel" required style="font-size: 12px;">
            <div *ngIf="horario.invalid && (horario.dirty || horario.touched)" class="text alert-danger" style="font-size: 12px;">
              <div *ngIf="horario.errors?.['required']">El horario de la carrera es requerido</div>
            </div>
          </div>
      
        <!-- Cuarta fila de inputs -->
        
          <div class="col-md-3 form-group">
            <label class="custom-label" for="estado">Publicación</label>
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="estado" name="estado" [(ngModel)]="carrera.estado" #estado="ngModel">
              <label class="form-check-label" for="estado">{{ carrera.estado ? 'Sí' : 'No' }}</label>
            </div>
            <div *ngIf="estado.invalid && (estado.dirty || estado.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>El estado de la carrera es requerido</div>
            </div>
          </div>
          <div class="col-md-3 form-group">
            <label class="custom-label" for="imagen">Imagen</label>
            <input type="text" class="form-control my-2 custom-input" id="imagen" placeholder="url" name="imagen" [(ngModel)]="carrera.imagen" #imagen="ngModel" required style="font-size: 12px;">
            <div *ngIf="imagen.invalid && (imagen.dirty || imagen.touched)" class="text alert-danger" style="font-size: 12px;">
              <div>La imagen de la carrera es requerida</div>
            </div>
          </div>

        </div>
       
        <div class="text-center">
            <label class="custom-label">&nbsp;</label>
            <div>
              <button [disabled]="!carreraForm.form.valid" type="submit" class="btn btn-primary my-2 mx-3" style="font-size: 12px;">{{carrera.id > 0 ? 'Editar' : 'Crear'}}</button>
              <button type="button" class="btn btn-success my-2 mx-3" (click)="clean()" style="font-size: 12px;">Limpiar</button>
            </div>
          </div>
     
       
      </div>
    </div>
  </form>
  