

<div class="item">

  <div class="centered"></div>
   
  <div class="carousel">
    <div class="image">
      <img src="assets/img/carrusel-1c.jpg" alt="Descripción de la imagen">
      <img src="assets/img/nos9.jpg" alt="Descripción de la imagen">
      <img src="assets/img/carrusel-2.jpg" alt="Descripción de la imagen">
      <img src="assets/img/image2.jpg" alt="Descripción de la imagen">
      <img src="assets/img/carrusel-6d.jpg" alt="Descripción de la imagen">
      <img src="assets/img/carrusel-7.jpg" alt="Descripción de la imagen">
     
    </div>
  
  </div>

  <div id="slogan">
    <h2 class="permanent-marker-regular">Precisión en cada segundo, excelencia en cada evento.</h2>
    <p class="slide-in">Brindamos un servicio de cronometraje con sistema de chips en eventos deportivos.</p>
    <p class="slide-in second">Ofrecemos los servicios de inscripción, reportes y medición de tiempos.</p>
  </div>
  
  <div id="cuadro">
    <h3 class="neon-text">PRÓXIMOS EVENTOS</h3>

  <app-portadas></app-portadas>
</div>

<div id="cuadro2">
 <app-publicacion-tiempos></app-publicacion-tiempos>
</div>
  
  <div class="app-nosotros">
    <app-nosotros></app-nosotros>
  </div>
</div>

<div id="cuadro">
<div class="contacto">
  <h6>Contactanos</h6>
  <div class="icon-row">
    <div>
      <a href="https://www.facebook.com/profile.php?id=100057637051553" target="_blank">
        <i class="fa-brands fa-facebook"></i>
      </a>
    </div>
    <div>
      <a href="https://wa.me/543751661715" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
      </a>
    </div>
    <div>
      <i class="fa-brands fa-instagram"></i>
    </div>   
  </div>
</div>
</div>


