<body>



  <div class="item">
    <div class="centered"></div>
    <h2 class="permanent-marker-regular">Precisión en cada segundo, excelencia en cada evento.</h2>
    <div class="image">
      <img src="assets/img/image3.jpg" alt="Descripción de la imagen">
    </div>
    
   <app-carrera-publicacion></app-carrera-publicacion>
  
    <div class="app-nosotros">
      <app-nosotros></app-nosotros>
    </div>
  </div>
  <div class="contacto">
    <h6>Contactanos</h6>
    <div class="icon-row">
      <div class="icon-container">
        <a href="https://www.facebook.com/profile.php?id=100057637051553" target="_blank">
          <img src="assets/img/face.png" alt="face">
        </a>
      </div>
      <div class="icon-container">
        <a href="https://wa.me/543751661715" target="_blank">
          <img src="assets/img/icons8-whatsapp-144.png" alt="whatsapp">
        </a>
      </div>
      <div class="icon-container">
        <img src="assets/img/insta.png" alt="insta">
      </div>
    </div>
  </div>
  
</body>
