<body>
  <div class="item">

      <div class="centered">         
        </div>
          <div class="image">
            <img src="assets/img/image3.jpg" alt="Descripción de la imagen">
          </div>

          <div>
          <h2>Precisión en cada segundo, excelencia en cada evento.</h2>
        </div>
      <app-nosotros></app-nosotros>
      
      
      <div class="centered">
        <h6>Contactanos</h6>
      
        <div class="contacto">
          <div style="width: 40px; height: 40px;">
            <img src="assets/img/face.png" alt="face" style="width: 100%; height: 100%;">
          </div>
          <div style="width: 40px; height: 40px;">
            <img src="assets/img/icons8-whatsapp-144.png" alt="whatsapp" style="width: 100%; height: 100%;">
          </div>
          <div style="width: 40px; height: 40px;">
            <img src="assets/img/insta.png" alt="face" style="width: 100%; height: 100%;">
          </div>
        </div>
      </div>
      
      <div class="centered">
          <h2>Próximos eventos</h2>
      </div>
      
      <app-carrera-list></app-carrera-list> 
  </div>
</body>
