<div class="watermark"></div>
<div class="container menu-container">
  <div class="border rounded p-3">
    <p class="text-center menu-title">Selecciona qué deseas hacer:</p>
    <div class="text-center menu-buttons">
      <button class="menu-btn" (click)="redirectToControl()">
        <i class="fa-solid fa-user"></i> Ver inscriptos
      </button>

      <button class="menu-btn" (click)="redirectToCargarPortada()">
        <i class="fa-solid fa-medal"></i> Cargar Carreras
      </button>

      <button class="menu-btn" (click)="redirectToPause()">
        <i class="fa-solid fa-pause"></i> Pausar inscripciones
      </button>

      <button class="menu-btn" (click)="redirectToStop()">
        <i class="fa-solid fa-stop"></i> Cerrar inscripciones
      </button>

      <button class="menu-btn" (click)="redirectDescuentos()">
        <i class="fa-solid fa-dollar-sign"></i> Crear códigos de descuento
      </button>

    </div>
  </div>
</div>
