
<div class="watermark"></div>
<div class="container menu-container">
    <div class="border rounded p-3">
    <p class="text-center" style="font-size: 18px;">Selecciona que deseas hacer:</p>
    <div class="text-center">
        <button class="btn btn-success mx-2" (click)="redirectToControl()"><i class="fa-solid fa-list"></i> Ver inscriptos</button>

        <button class="btn btn-success mx-2" (click)="redirectToCargarCarreraOrganizador()"> <i class="fa-solid fa-user"></i> Cargar Carrera</button>
        
        <button class="btn btn-success mx-2" (click)="redirectToListaCarreras()"> <i class="fa-solid fa-flag-checkered"></i> Ver Lista de eventos</button>
        
    
    </div>
    </div>
</div>


